* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #00b7ff, #e053b1);
  font-family: sans-serif;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: white;
  padding: 10px 0;
  border-radius: 6px;
  overflow: hidden;
}

form {
  border-bottom: 1px solid #aaa;
  padding: 10px 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

form input {
  font-size: 22px;
  width: 100%;
  margin-right: 10px;
  padding-left: 8px;
}
form button {
  background: rgb(18, 182, 24);
  padding: 5px 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
}

.todos {
  list-style: none;
}
.todos li {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}
.todos li span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li.completed {
  color: #aaa;
}

li.completed span {
  text-decoration: line-through;
}
